h1 {
    font-family: 'Courier New', Courier, monospace;
    color: darkslateblue;
}

ul {
    font-family: 'Courier New', Courier, monospace;
}

.pancake {
    font-family: 'Courier New', Courier, monospace;
    color: darkred;
}